@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 765px) {
  .hidden-custom {
    display: none;
  }
}

body::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}
